<nav class="navbar navbar-expand-lg theme theme-light">
    <div class="container-fluid">
        <div class="display-6">Fidenz Weather App</div>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="form-check form-switch">
                <div id="time"></div>
                <button class="btn btn-danger" onclick="window.location='/logout'"><ion-icon name="power-outline"></ion-icon>Logout</button>
            </div>
        </div>
    </div>
</nav>
