    <footer>All rights reserved &copy AR </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    
<!--             
    function themeToggle () {
        var themeToggle = document.getElementById('theme');
        var element = document.getElementById('card-item');

        if (themeToggle.checked == true) {
            element.classList.add('theme-light');
        }else {
            element.classList.add('theme-dark');
        }
    }; -->


</body>
</html>
